<h1>{{message}}</h1>

<p> <b> {{text}} </b></p>

<div>
    PRAGIM Established in 2000 by 3 S/W engineers offers very cost effective training. PRAGIM Speciality in training arena unlike other training institutions
</div>
<ul>
    <li>Training delivered by real time software experts having more than 10 years of experience.</li>
    <li>Realtime projects discussion relating to the possible interview questions.</li>
    <li>Trainees can attend training and use lab untill you get a job.</li>
    <li>Resume preperation and mock up interviews.</li>
    <li>100% placement assistance.</li>
    <li>Lab facility.</li>
</ul>