@{
    ViewBag.Title = "Sevice Vs Factory";
}

<h2>Service vs Factory</h2>

<div>
    <p>I am from Angular Service</p>
    <input type="button" value="Service Call" ng-click="HitCounterService()">
     Hit Counter:  {{ServiceHitCounterVar}}
    <br />


</div>
